@use '../abstracts' as abs;

.checkout {

	&__title {
		margin-top: 2rem;
		margin-bottom: 1.25rem;
		margin-left: 1.125rem;
		font-size: 1.5rem;
		color: var(--clr-dark-gray);
	}
}

.order {
	margin-inline: 0.75rem;
	padding: 1.5rem;
	background-color: var(--clr-gray-bg);
	border-radius: 0.75rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-wrapper {
	margin-bottom: 5.4rem;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.item {
	display: flex;
	gap: 10%;

	&__img {
		width: 40%;
		border-radius: 0.75rem;
	}

	&__data {
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	&__name {
		color: var(--clr-dark-gray);
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
	}

	&__price {
		display: flex;
		align-items: center;
		gap: 1rem;

		&-discounted {
			color: var(--clr-orange);
			font-size: 0.875rem;
		}

		&-original {
			color: var(--clr-dark-gray);
			font-size: 0.625rem;
			text-decoration: line-through;
		}
	}

	&__count {
		// Style the outer container
		display: inline-flex;
		border: 1px solid var(--clr-placeholder);
		border-radius: 0.75rem;
		padding: 1rem;
		margin-top: auto;
		width: 82%;


		// Get rid of default arrow buttons
		input[type='number'] {
			-webkit-appearance: textfield;
			-moz-appearance: textfield;
			appearance: textfield;
			width: 100%;
		}
		
		input[type='number']::-webkit-inner-spin-button,
		input[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		
	}
}

.costs-wrapper {
	width: 100%;
}

.cost {
	border-top: 1px solid #bdbdbd;
	padding-block: 0.5rem;
	font-size: 0.875rem;
	display: flex;
	justify-content: space-between;
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 1.5rem;
	font-size: 0.875rem;

	&__attribution {
		font-weight: 500;
		font-family: var(--ff-sans);
		color: #A9A9A9;
	}

	&__link {
		color: #A9A9A9;
		font-weight: 700;
	}
}